body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   /* background-image: linear-gradient(
      rgba(247, 247, 248, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(./img/goldPHB.jpg); */
    background-repeat: no-repeat;
  background-position: center;
  background-size:contain
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}